@model QLTB.Models.Thietbi
@{
    ViewData["Title"] = "Them";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Ten thiet bi: 
                <input asp-for="Tentb" class="form-control" />
                <span asp-validation-for="Tentb" class="text-danger"></span>
            </div>
            <div class="form-group">
                Nuoc san xuat: 
                <input asp-for="Nuocsx" class="form-control" />
                <span asp-validation-for="Nuocsx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donvi" class="control-label"></label>
                <select asp-for="Madv" class="form-control">
                    <option value="">-- Chon Don vi --</option>
                    @{
                        List<Donvi> donvis = ViewBag.DonviLoaithietbiVM.Donvis;
                        foreach (var donvi in donvis)
                        {
                            <option value="@donvi.Madv">@donvi.Tendv</option>
                        }
                    }
                </select>
                <span asp-validation-for="Madv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loaithietbi" class="control-label"></label>
                <select asp-for="Maloai" class="form-control">
                    <option value="">-- Chon Loai thiet bi --</option>
                    @{
                        List<Loaithietbi> loaithietis = ViewBag.DonviLoaithietbiVM.Loaithietbis;
                        foreach (var loaithietbi in loaithietis)
                        {
                            <option value="@loaithietbi.Maloai">@loaithietbi.Tenloai</option>
                        }
                    }
                </select>
                <span asp-validation-for="Maloai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
